label{
    display:block;
}
form{
    text-align: center;
    background-color: rgb(251, 193, 77);
    margin:0px 300px 0px 300px;
}
h1{
    text-align: center;
}
#submit{
    padding: 10px;
}
#button{
    padding: 10px;
}
input[type=submit]{
    background-color: blue;
}
input[type=submit]:hover{
    background-color:bisque;
}
input[type=button]{
    background-color: blue;
}
input[type=button]:hover{
    background-color:blanchedalmond;
}
body{
    background-image:url(bg1.jpg);
}
 
 